<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vigilantes da Floresta</title>
</head>
<body>
    {{{body}}}
    <strong><footer>By: Rógenis Pereira</footer></strong>
</body>
</html>